In [ ]:
# area of rectangle

In [ ]:
height=int(input('enter a number'))
width=int(input('enter a number'))
a=height*width
print(a)

enter a number5
enter a number2
10

In [ ]:
# sum,difference,product and quotient

In [ ]:
a=int(input('enter a number'))
b=int(input('enter a number'))
s=a+b
d=a-b
p=a*b
q=a/b
print(s)
print(d)
print(p)
print(q)

enter a number2
enter a number5
7
-3
10
0.4

In [ ]:
# convert temprature from fahrenheint

In [ ]:
f=float(input('enter a number'))
c=(f-32)*5/9
print(c)

enter a number50
10.0

In [ ]:
c=float(input('enter a number'))
f=(c*9/5)+32
print(f)

enter a number20
68.0

In [ ]:
# number is postive or negative

In [ ]:
num=int(input('enter a number'))
if a>0:
  print('num is postive')
elif a<0:
    print('num is negative')

enter a number2
num is postive

In [ ]:
 # write a python function that deter

In [ ]:
y=int(input('enter the year'))
if y%4==0:
  print("it is leap year")
elif y%4!=0:
  print("it is not leap year")
elif y%400==0:
  print("it is a leap year")
elif y%400!=0:
  print("it is not leap year")

enter the year2005
it is not leap year

In [ ]:
# grade scale

In [ ]:
mark=int(input('enter mark'))
if mark>90:
  print('A')
elif mark>80:
  print('B')
elif mark>70:
  print('C')

enter mark95
A

In [ ]:
# PRINT 10 TO 1

In [ ]:
for num in range (10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#multiplication table

In [ ]:
n=int(input('enter a number'))
for i in range(1,11):
 print (i,'x',i,'=',i*n)

enter a number2